
.chatWindow_message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatWindow_content {
    margin-left: 10px;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 20px;
}

.chatWindow_contentUser {
    margin-left: auto;
    background-color: mediumseagreen;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.chatWindow_input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
}

.chatWindow_inputField {
    flex: 1;
    padding: 10px;
    border: none;

}

.chatWindow_inputButton {
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: mediumseagreen;
}