/*
Style CSS für SearchProfile, BlockProfileBox, BlockProfileBoxList, FavoriteProfileBox, FavoriteProfileBoxList,
ProfileBox
*/

.slider .MuiSlider-thumb{
    color: #ff0059;
}

.slider .MuiSlider-track {
    color: #ff0059;
}

.checkbox_search .MuiSvgIcon-root{
    color: #ff0059;
}

.iconcol .MuiSvgIcon-root{
    color: #ff0059;
}

.cont2 {
  background-color: yellow;
}